*{
    text-align: center;
}
fieldset {
    width: 470px;
    margin: 12%;
    margin-left: 32%;
    border: 1px solid #1E90FF;
}

.username {
    background-color: #5b9bd5;
    color: azure;
    padding: 10px 20px;
    margin-right: 25px;
    width: 100px;
    text-align: center;
    border: 1px solid #1E90FF;
}

.text {
    border: 1px solid #1E90FF;
    padding: 10px;
    width: 278px;
}

.gender {
    border: 1px solid #1E90FF;
}

.apartment {
    margin-top: 20px;

}
.department{
    width: 300px;
    border: 1px solid #1E90FF;
}

.button {
    width: 100px;
    margin-top: 30px;
    height: 30px;
    background-color:#008000;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    color: white;
}
.style{
    display:flex;
}